<template>
  <v-container>
    <v-card :loading="loadingRoutes" :disabled="loadingRoutes">
      <v-card-title />
      <v-card-subtitle>
        Nodos:{{ nodes.length }} Enlaces:{{ edges.length }}
        <v-spacer />
        <v-switch
          v-model="directed"
          :label="`Dirigido: ${directed.toString()}`"
        />
      </v-card-subtitle>
      <v-form>
        <v-card-text>
          <v-row>
            <v-col>
              <v-autocomplete
                v-model="startPlace"
                label="Lugar inicial"
                :items="stations"
                style="width: 200px"
                item-text="Name"
                placeholder="input here"
                :rules="[r=>!!r]"
                return-object
              />
            </v-col>
            <v-col>
              <v-autocomplete
                v-model="endPlace"
                label="Lugar final"
                :items="stations"
                style="width: 200px"
                item-text="Name"
                return-object
                :rules="[r=>!!r]"
                placeholder="input here"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            :disabled="!(startPlace&&endPlace)"
            @click="generate"
          >
            Visualizar red de nodos y ruta minima
          </v-btn>
          <v-btn
            :disabled="!(startPlace&&endPlace)"
            @click="process"
          >
            Ver Ruta minima
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <v-card
      class="mx-auto"
    >
      <v-card-title>Resultados</v-card-title>
      <v-card-text>
        <div class="font-weight-bold ml-8 mb-2">
          Tiempo Ejecución: {{ execution.endTime-execution.startTime }} ms
        </div>
        <div class="font-weight-bold ml-8 mb-2">
          Ruta
        </div>

        <v-timeline
          v-if="path.length>0"
          align-top
          dense
        >
          <v-timeline-item
            v-for="r in path"
            :key="r.data.id"
            small
          >
            <div>
              <div class="font-weight-normal">
                <strong>{{ r.data.name }}</strong>
              </div>
              <div>{{ r }}</div>
            </div>
          </v-timeline-item>
        </v-timeline>
        <div v-else>
          No se ha encontrado una ruta
        </div>
      </v-card-text>
      <v-fade-transition>
        <v-overlay
          v-if="!(startPlace&&endPlace)"
          absolute
          color="#036358"
        >
          <v-btn>Seleciona los puntos a inspeccionar</v-btn>
        </v-overlay>
      </v-fade-transition>
      <v-timeline />
      <v-overlay absolute :value="loading">
        <v-progress-circular
          indeterminate
          size="64"
        />
      </v-overlay>
    </v-card>

    <v-card style="min-height: 600px">
      <div id="cy" ref="cy" />
    </v-card>
  </v-container>
</template>

<script>
import cytoscape from 'cytoscape/src'
import Graph from '@/utils/algs'
export default {
  name: 'Flights',
  data: () => ({
    directed: false,
    startPlace: '',
    endPlace: '',
    numberExchanges: 2,
    g: new Graph(),
    floydWarshall: null,
    nodes: [],
    edges: [],
    flightData: {
      Places: [],
      Quotes: [],
      Carriers: []
    },
    results: {
      dest: [],
      next: [],
      path: []
    },
    result: [],
    loading: false,
    loadingRoutes: false,
    execution: {
      startTime: null,
      endTime: null
    }
  }),
  computed: {
    stations () {
      return this.places.filter(
        f => f.Type === 'Station'
      )
    },
    avaiblePlacesID () {
      const ids = []
      for (let i = 0; i < this.flightData.Quotes.length; i++) {
        const q = this.flightData.Quotes[i]
        if (!ids.includes(q.OutboundLeg.OriginId)) { ids.push(q.OutboundLeg.OriginId) }
        if (!ids.includes(q.OutboundLeg.DestinationId)) { ids.push(q.OutboundLeg.DestinationId) }
      }
      return ids
    },
    places () {
      return this.flightData.Places.filter(
        p => this.avaiblePlacesID.includes(p.PlaceId)
      )
    },
    quotes () {
      return this.flightData.Quotes
    },
    carriers () {
      return this.flightData.Carriers
    },
    costs () {
      const costs = { }
      this.quotes.forEach((q) => {
        q.OutboundLeg.CarrierIds.forEach(
          (carrierId) => {
            if (!costs[`${q.OutboundLeg.OriginId}`]) {
              costs[`${q.OutboundLeg.OriginId}`] = {}
              const destination = {}
              destination[`${q.OutboundLeg.DestinationId}`] = []
              costs[`${q.OutboundLeg.OriginId}`] = destination
            } else if (!costs[`${q.OutboundLeg.OriginId}`][`${q.OutboundLeg.DestinationId}`]) {
              costs[`${q.OutboundLeg.OriginId}`][`${q.OutboundLeg.DestinationId}`] = []
            }
            costs[`${q.OutboundLeg.OriginId}`][`${q.OutboundLeg.DestinationId}`].push({
              carrierId,
              price: q.MinPrice,
              originId: q.OutboundLeg.OriginId,
              destinationId: q.OutboundLeg.DestinationId
            })
          }
        )
      })
      return costs
    },
    generateNodes () {
      const nodes = []
      this.places.forEach((p) => {
        if (this.costs[p.PlaceId]) {
          Object.entries(this.costs[p.PlaceId]).forEach(([key, value]) => {
            for (let i = 0; i < value.length; i++) {
              const v = value[i]
              nodes.push({
                data: {
                  id: `${v.carrierId}-${p.PlaceId}`,
                  name: `${this.getCarrierById(v.carrierId).Name} ~ ${this.getPlaceById(p.PlaceId).Name}`,
                  placeId: p.PlaceId,
                  carrierId: v.carrierId
                }
              })
            }
          })
        } else {
          nodes.push({
            data: {
              id: `${p.PlaceId}`,
              name: `${this.getPlaceById(p.PlaceId).Name}`,
              placeId: p.PlaceId,
              carrierId: 0
            }
          })
        }
      }
      )
      return nodes
    },
    generateEdges () {
      const edges = []
      this.quotes.forEach((q) => {
        q.OutboundLeg.CarrierIds.forEach(
          (carrierId) => {
            if (this.costs[q.OutboundLeg.DestinationId]) {
              for (let i1 = 0; i1 < Object.entries(this.costs[q.OutboundLeg.DestinationId]).length; i1++) {
                const [, value] = Object.entries(this.costs[q.OutboundLeg.DestinationId])[i1]
                for (let i = 0; i < value.length; i++) {
                  const v = value[i]
                  edges.push({
                    data: {
                      id: `${carrierId}-${q.OutboundLeg.OriginId}_${v.carrierId}-${q.OutboundLeg.DestinationId}`,
                      weight: q.MinPrice,
                      source: `${carrierId}-${q.OutboundLeg.OriginId}`,
                      target: `${v.carrierId}-${v.originId}`
                    }
                  })
                }
              }
            } else {
              edges.push({
                data: {
                  id: `${carrierId}-${q.OutboundLeg.OriginId}_${q.OutboundLeg.DestinationId}`,
                  weight: q.MinPrice,
                  source: `${carrierId}-${q.OutboundLeg.OriginId}`,
                  target: q.OutboundLeg.DestinationId
                }
              })
            }
          }
        )
      })
      return edges
    },
    path () {
      return this.results.path.map(
        p => this.nodes[p]
      )
    }
  },
  async created () {
    this.loadingRoutes = true
    await this.getFlightData()
    this.loadingRoutes = false
  },
  methods: {
    workerResponseHandler (event) {
      this.loading = false
      this.results = JSON.parse(event.data)
      this.execution.endTime = Date.now()
    },
    includes (id) {
      return this.g.nodes.indexOf(id)
    },
    indexOf (id) {
      return this.g.nodes.indexOf(id)
    },
    process () {
      this.generateLink()
      if (process.browser) { // Remember workers just work in client?
        this.loading = true
        const worker = this.$worker.createWorker() // Instruction assigned in plugin
        worker.listen(this.workerResponseHandler)
        this.execution.startTime = Date.now()
        worker.message({ nodes: this.nodes, edges: this.edges, directed: this.directed })
      }
    },
    getPlaceById (id) {
      return this.places.find(
        p => p.PlaceId === id
      )
    },
    getCarrierById (id) {
      return this.carriers.find(
        p => p.CarrierId === id
      )
    },
    async getFlightData () {
      const response = await fetch('/api/flight.json', {
        method: 'GET'
      })
      this.flightData = await response.json()
    },
    generateLink () {
      this.nodes = [...this.generateNodes]
      this.edges = [...this.generateEdges]
      this.nodes.push({
        data: {
          id: 'I',
          name: 'Inicio'
        }
      })
      this.nodes.push({
        data: {
          id: 'F',
          name: 'Fin'
        }
      })
      if (this.costs[this.startPlace.PlaceId]) {
        for (let i1 = 0; i1 < Object.entries(this.costs[this.startPlace.PlaceId]).length; i1++) {
          const [, value] = Object.entries(this.costs[this.startPlace.PlaceId])[i1]
          for (let i = 0; i < value.length; i++) {
            const v = value[i]
            this.edges.push({
              data: {
                id: `I_${v.carrierId}-${v.originId}`,
                weight: 0,
                source: 'I',
                target: `${v.carrierId}-${v.originId}`
              }
            })
          }
        }
      } else {
        this.edges.push({
          data: {
            id: `I_${this.startPlace.PlaceId}`,
            weight: 0,
            source: 'I',
            target: this.startPlace.PlaceId
          }
        })
      }
      if (this.costs[this.endPlace.PlaceId]) {
        for (let i1 = 0; i1 < Object.entries(this.costs[this.endPlace.PlaceId]).length; i1++) {
          const [, value] = Object.entries(this.costs[this.endPlace.PlaceId])[i1]
          for (let i = 0; i < value.length; i++) {
            const v = value[i]
            this.edges.push({
              data: {
                id: `${v.carrierId}-${v.originId}_F`,
                weight: 0,
                target: 'F',
                source: `${v.carrierId}-${v.originId}`
              }
            })
          }
        }
      } else {
        this.edges.push({
          data: {
            id: `${this.endPlace.PlaceId}_F`,
            weight: 0,
            target: 'F',
            source: this.endPlace.PlaceId
          }
        })
      }
    },
    generate () {
      this.generateLink()
      const cy = cytoscape({
        container: this.$refs.cy,
        boxSelectionEnabled: false,
        autounselectify: true,
        layout: {
          name: 'circle',
          idealEdgeLength: 100,
          nodeOverlap: 20,
          refresh: 20,
          fit: true,
          padding: 60,
          randomize: false,
          componentSpacing: 100,
          nodeRepulsion: 400000,
          edgeElasticity: 100,
          nestingFactor: 5,
          gravity: 80,
          numIter: 1000,
          initialTemp: 200,
          coolingFactor: 0.95,
          minTemp: 1.0,
          roots: '#I',
          directed: false
        },
        style: cytoscape.stylesheet()
          .selector('node')
          .style({
            content: 'data(name)',
            style: {
              height: 20,
              width: 20,
              'background-color': '#18e018'
            }
          })
          .selector('edge')
          .style({
            content: 'data(weight)',
            'curve-style': 'bezier',
            'box-shadow': '3px 3px red, -1em 0 0.4em olive',
            width: 4,
            'haystack-radius': 0,
            'line-color': '#a2efa2'
          })
          .selector('.highlighted')
          .style({
            'background-color': '#61bffc',
            'line-color': '#61bffc',
            'transition-property': 'background-color, line-color',
            'transition-duration': '0.5s'
          }).selector('.marked')
          .style({
            'background-color': '#61fcc6',
            'line-color': '#61fcb9',
            'transition-property': 'background-color, line-color, target-arrow-color',
            'transition-duration': '0.5s'
          }),

        elements: {
          nodes: [...this.nodes],
          edges: [...this.edges]
        }
      })
      this.floydWarshall = cy.elements().floydWarshall({
        directed: false,
        weight (edge) {
          return edge.data('weight')
        }
      })
      this.floydWarshall.path('#I', '#F').addClass('highlighted')
    }
  }

}
</script>

<style scoped>
#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
</style>
