<template>
  <v-container>
    <v-card>
      <v-card-text>
        <v-form>
          <v-autocomplete
            v-model="startPlace"
            label="Lugar  final"
            :items="stations"
            style="width: 200px"
            item-text="Name"
            placeholder="input here"
            :rules="[r=>!!r]"
            return-object
          />
          <v-autocomplete
            v-model="endPlace"
            label="Lugar final"
            :items="stations"
            style="width: 200px"
            item-text="Name"
            return-object
            :rules="[r=>!!r]"
            placeholder="input here"
          />
          <v-btn
            @click="generate"
          >
            Generar
          </v-btn>
        </v-form>
        <v-btn @click="generar">
          Generar red
        </v-btn>
      </v-card-text>
    </v-card>
    <v-card style="min-height: 600px">
      <div id="cy" ref="cy" />
    </v-card>
  </v-container>
</template>

<script>
import cytoscape from 'cytoscape/src'
import Graph from '@/utils/algs'
export default {
  name: 'Flights1',
  data: () => ({
    divisas: {
      rates: {}
    },
    currencies: [],
    selectedCurrencies: [],
    principal: '',
    startPlace: '',
    endPlace: '',
    numberExchanges: 2,
    g: new Graph(),
    floydWarshall: null,
    nodes: [],
    edges: [],
    flightData: {
      Places: [],
      Quotes: []
    }
  }),
  computed: {
    carriers () {
      return this.flightData.Carriers
    },
    stations () {
      return this.places.filter(
        f => f.Type === 'Station'
      )
    },
    avaiblePlacesID () {
      const ids = []
      this.flightData.Quotes.forEach((q) => {
        if (!ids.includes(q.OutboundLeg.OriginId)) { ids.push(q.OutboundLeg.OriginId) }
        if (!ids.includes(q.OutboundLeg.DestinationId)) { ids.push(q.OutboundLeg.DestinationId) }
      })
      return ids
    },
    places () {
      return this.flightData.Places.filter(
        p => this.avaiblePlacesID.includes(p.PlaceId)
      )
    },
    quotes () {
      return this.flightData.Quotes
    },
    options () {
      const nodes = []
      this.quotes.forEach((q) => {
        q.OutboundLeg.CarrierIds.forEach(
          (c) => {
            if (nodes.findIndex(n => n.data.id === `${c}-${q.OutboundLeg.OriginId}`) === -1) {
              nodes.push({
                data: {
                  id: `${c}-${q.OutboundLeg.OriginId}`,
                  placeId: q.OutboundLeg.OriginId,
                  carrierId: c
                }
              })
            }
            if (nodes.findIndex(n => n.data.id === `${c}-${q.OutboundLeg.DestinationId}`) === -1) {
              nodes.push({
                data: {
                  id: `${c}-${q.OutboundLeg.DestinationId}`,
                  placeId: q.OutboundLeg.DestinationId,
                  carrierId: c
                }
              })
            }
          }
        )
      }
      )
      return nodes
    }
  },
  created () {
    this.getFlightData()
  },
  methods: {
    async getFlightData () {
      const response = await fetch('https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/US/US/anytime', {
        // const response = await fetch('/api/flight-usa.json', {
        method: 'GET',
        headers: {
          'x-rapidapi-key': 'bc7e53936amsh074c5dc4126bdefp14dda9jsn2da3060813cb',
          'x-rapidapi-host': 'skyscanner-skyscanner-flight-search-v1.p.rapidapi.com'
        }
      })
      this.flightData = await response.json()
    },
    generateLink () {
      this.nodes = this.generateNodes()
      this.edges = this.generateEdges()
    },
    async generate () {
      await this.generateLink()
      const cy = cytoscape({
        container: this.$refs.cy,

        boxSelectionEnabled: false,
        autounselectify: true,
        layout: {
          name: 'cose',
          idealEdgeLength: 100,
          nodeOverlap: 20,
          refresh: 20,
          fit: true,
          padding: 30,
          randomize: false,
          componentSpacing: 100,
          nodeRepulsion: 400000,
          edgeElasticity: 100,
          nestingFactor: 5,
          gravity: 80,
          numIter: 1000,
          initialTemp: 200,
          coolingFactor: 0.95,
          minTemp: 1.0,
          roots: '#' + this.startPlace.PlaceId,
          directed: false
        },
        style: cytoscape.stylesheet()
          .selector('node')
          .style({
            content: 'data(name)',
            style: {
              height: 20,
              width: 20,
              'background-color': '#18e018'
            }
          })
          .selector('edge')
          .style({
            content: ele => this.getCarrierById(ele.data('carrierId')).Name + ' (' + ele.data('weight') + ')',
            'curve-style': 'bezier',
            'box-shadow': '3px 3px red, -1em 0 0.4em olive',
            width: 4,
            'haystack-radius': 0,
            'line-color': '#a2efa2'
          })
          .selector('.highlighted')
          .style({
            'background-color': '#61bffc',
            'line-color': '#61bffc',
            'transition-property': 'background-color, line-color, target-arrow-color',
            'transition-duration': '0.5s'
          }).selector('.marked')
          .style({
            'background-color': '#61fcc6',
            'line-color': '#61fcb9',
            'transition-property': 'background-color, line-color, target-arrow-color',
            'transition-duration': '0.5s'
          }),

        elements: {
          nodes: this.nodes,
          edges: this.edges
        }
      })
      this.floydWarshall = cy.elements().floydWarshall()
      const highlightNextEle = () => {
        this.floydWarshall.path('#' + this.startPlace.PlaceId, '#' + this.endPlace.PlaceId).addClass('highlighted')
        cy.$('#' + this.startPlace.PlaceId, '#' + this.endPlace.PlaceId).addClass('marked')
      }
      // kick off first highlight
      highlightNextEle()
    },
    generar () {
      const nodes = this.generateNodes()
      for (const n of nodes) {
        this.g.addNode(n.data.id)
      }
      for (const e of this.generateEdges()) {
        this.g.addDirectedEdge(e.data.source, e.data.target, e.data.weight)
      }
      this.g.display()

      // console.info(this.g.floydWarshallAlgorithm())
    },
    generateNodes () {
      return this.places.map(
        p => ({
          data: {
            id: `${p.PlaceId}`,
            name: p.Name
          }
        })
      )
    },
    generateEdges () {
      const edges = []

      this.quotes.forEach((q) => {
        q.OutboundLeg.CarrierIds.forEach(

          (c) => {
            edges.push({
              data: {
                id: `${c}-${q.QuoteId}`,
                weight: q.MinPrice || 1,
                carrierId: c,
                source: `${q.OutboundLeg.OriginId}`,
                target: `${q.OutboundLeg.DestinationId}`
                // source: `${c}-${q.OutboundLeg.OriginId}`,
                // target: `${c}-${q.OutboundLeg.DestinationId}`
              }
            })
          }

        )
      }
      )
      return edges
    },
    getPlaceById (id) {
      return this.places.find(
        p => p.PlaceId === id
      )
    },
    getCarrierById (id) {
      return this.carriers.find(
        p => p.CarrierId === id
      )
    }
  }

}
</script>

<style scoped>
#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
</style>
