<template>
  <v-container>
    <v-card :loading="loadingRoutes" :disabled="loadingRoutes">
      <v-card-title />
      <v-card-subtitle>
        Nodos:{{ generateNodes.length }} aristas:{{ generateEdges.length }}
        <v-spacer />
        <!--        <v-switch
          v-model="directed"
          :label="`Dirigido: ${directed.toString()}`"
        />-->
      </v-card-subtitle>
      <v-form>
        <v-card-text>
          <v-row>
            <v-col>
              <v-autocomplete
                v-model="startPlace"
                label="Lugar inicial"
                :items="stations"
                style="width: 200px"
                item-text="Name"
                placeholder="input here"
                :rules="[r=>!!r]"
                return-object
              />
            </v-col>
            <v-col>
              <v-autocomplete
                v-model="endPlace"
                label="Lugar final"
                :items="stations"
                style="width: 200px"
                item-text="Name"
                return-object
                :rules="[r=>!!r]"
                placeholder="input here"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            :disabled="!(startPlace&&endPlace)"
            @click="generate"
          >
            Visualizar red de nodos y ruta minima
          </v-btn>
        </v-card-actions>
        <v-card-actions>
          <v-btn
            :disabled="!(startPlace&&endPlace)"
            @click="process"
          >
            Ver Ruta minima
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
    <v-card
      class="mx-auto"
    >
      <v-card-title>Resultados</v-card-title>
      <v-card-text>
        <div class="font-weight-bold ml-8 mb-2">
          Tiempo Ejecución: {{ execution.endTime-execution.startTime }} ms
          Costo Total: {{ cost }}
        </div>
        <div class="font-weight-bold ml-8 mb-2">
          Costo Total: {{ cost }}
        </div>
        <div class="font-weight-bold ml-8 mb-2">
          Ruta
        </div>

        <v-timeline
          v-if="path.length>0"
          align-top
          dense
        >
          <template
            v-for="(r,index) in path"
          >
            <v-timeline-item
              :key="r.data.id"
            >
              <div>
                <div class="font-weight-normal">
                  <strong>{{ r.data.name }}</strong>
                </div>
              </div>
            </v-timeline-item>
            <v-timeline-item
              v-if="index!==(path.length-1)&&edgesPath[index]"
              :key="index"
              small
              color="pink"
            >
              <div>Precio: {{ edgesPath[index].price }}</div>
              <div>
                Aerolineas
                <div
                  v-for="(a,i) in edgesPath[index].carriers"
                  :key="i"

                  class="font-weight-normal"
                >
                  - <strong v-if="a">{{ a.Name }}</strong>
                </div>
              </div>
            </v-timeline-item>
          </template>
        </v-timeline>
        <div v-else>
          No se ha encontrado una ruta
        </div>
      </v-card-text>
      <v-fade-transition>
        <v-overlay
          v-if="!(startPlace&&endPlace)"
          absolute
          color="#036358"
        >
          <v-btn>Seleciona los puntos a inspeccionar</v-btn>
        </v-overlay>
      </v-fade-transition>
      <v-timeline />
      <v-overlay absolute :value="loading">
        <v-progress-circular
          indeterminate
          size="64"
        />
      </v-overlay>
    </v-card>

    <v-card style="min-height: 600px">
      <div id="cy" ref="cy" />
    </v-card>
  </v-container>
</template>

<script>
import cytoscape from 'cytoscape/src'
import Graph from '@/utils/algs'
export default {
  name: 'Flights4',
  data: () => ({
    directed: false,
    startPlace: '',
    endPlace: '',
    numberExchanges: 2,
    g: new Graph(),
    floydWarshall: null,
    nodes: [],
    edges: [],
    flightData: {
      Places: [],
      Quotes: [],
      Carriers: []
    },
    results: {
      dist: [],
      next: [],
      nodes: [],
      path: []
    },
    result: [],
    loading: false,
    loadingRoutes: false,
    execution: {
      startTime: null,
      endTime: null
    }
  }),
  computed: {
    stations () {
      return this.places.filter(
        f => f.Type === 'Station'
      )
    },
    avaiblePlacesID () {
      const ids = []
      for (let i = 0; i < this.flightData.Quotes.length; i++) {
        const q = this.flightData.Quotes[i]
        if (!ids.includes(q.OutboundLeg.OriginId)) { ids.push(q.OutboundLeg.OriginId) }
        if (!ids.includes(q.OutboundLeg.DestinationId)) { ids.push(q.OutboundLeg.DestinationId) }
      }
      return ids
    },
    places () {
      return this.flightData.Places.filter(
        p => this.avaiblePlacesID.includes(p.PlaceId)
      )
    },
    quotes () {
      return this.flightData.Quotes
    },
    carriers () {
      return this.flightData.Carriers
    },
    costs () {
      const costs = { }
      this.quotes.forEach((q) => {
        const originPlaceId = q.OutboundLeg.OriginId
        const destinationPlaceId = q.OutboundLeg.DestinationId
        q.OutboundLeg.CarrierIds.forEach(
          (carrierId) => {
            if (!costs[originPlaceId]) {
              costs[originPlaceId] = {}
              const destination = {}
              destination[destinationPlaceId] = [{
                carrierIds: [carrierId],
                price: q.MinPrice,
                originId: originPlaceId,
                destinationId: destinationPlaceId
              }]
              costs[originPlaceId] = destination
            } else if (!costs[originPlaceId][destinationPlaceId]) {
              costs[originPlaceId][destinationPlaceId] = [{
                carrierIds: [carrierId],
                price: q.MinPrice,
                originId: originPlaceId,
                destinationId: destinationPlaceId
              }]
            }
            costs[originPlaceId][destinationPlaceId].push({
              carrierIds: [carrierId],
              price: q.MinPrice,
              originId: originPlaceId,
              destinationId: destinationPlaceId
            })
          }
        )
      })
      return costs
    },
    generateNodes () {
      const nodes = []
      // p: lugar de salida
      this.places.forEach((origin) => {
        nodes.push({
          data: {
            id: origin.PlaceId,
            name: `${this.getPlaceById(origin.PlaceId).Name}`,
            placeId: origin.PlaceId
          }
        })
      }
      )
      return nodes
    },
    generateEdges () {
      const edges = []
      Object.entries(this.costs).forEach(([placeOriginId, targets]) => {
        Object.entries(targets).forEach(([placeDestinationId, carriers]) => {
          carriers.forEach((c) => {
            edges.push({
              data: {
                id: `${placeOriginId}-${placeDestinationId}`,
                weight: c.price,
                source: placeOriginId,
                target: placeDestinationId
              }
            })
          })
        })
      })
      return edges
    },
    cost () {
      if (this.startPlace && this.endPlace && this.results.dist.length > 0) {
        const indexOf = (id) => {
          return this.results.nodes.indexOf(id)
        }
        return this.results.dist[indexOf(this.startPlace.PlaceId)][indexOf(this.endPlace.PlaceId)]
      } else {
        return 0
      }
    },
    path () {
      if (this.startPlace && this.endPlace) {
        return this.getPath(
          this.results.nodes, this.results.next, this.startPlace.PlaceId, this.endPlace.PlaceId
        ).map(
          p => this.generateNodes[p]
        )
      } else {
        return []
      }
    },
    edgesPath () {
      const edges = []
      for (let i = 0; i < this.path.length - 1; i++) {
        edges.push(this.costs[this.path[i].data.id][this.path[i + 1].data.id])
      }
      return edges.map((e) => {
        e.carriers = e.carrierIds.map((c) => {
          return this.getCarrierById(c)
        })
        return e
      })
    }
  },
  async created () {
    this.loadingRoutes = true
    await this.getFlightData()
    this.loadingRoutes = false
  },
  methods: {

    getPath (nodes, next, nodeIdStart, nodeIdEnd) {
      const indexOf = (id) => {
        return nodes.indexOf(id)
      }

      let u = indexOf(nodeIdStart)
      const v = indexOf(nodeIdEnd)
      const path = []
      if (u === -1) {
        return []
      }
      if (next[u][v] === -1) {
        return path
      }
      path.push(u)
      while (u !== v) {
        u = next[u][v]
        path.push(u)
      }
      return path
    },
    workerResponseHandler (event) {
      this.loading = false
      console.log(JSON.parse(event.data))
      this.results = JSON.parse(event.data)
      this.execution.endTime = Date.now()
    },
    includes (id) {
      return this.g.nodes.indexOf(id)
    },
    indexOf (id) {
      return this.g.nodes.indexOf(id)
    },
    process () {
      if (process.browser) { // Remember workers just work in client?
        this.loading = true
        const worker = this.$worker.createWorker() // Instruction assigned in plugin
        worker.listen(this.workerResponseHandler)
        this.execution.startTime = Date.now()
        worker.message({ nodes: this.generateNodes, edges: this.generateEdges })
      }
    },
    getPlaceById (id) {
      return this.places.find(
        p => p.PlaceId === id
      )
    },
    getCarrierById (id) {
      return this.carriers.find(
        p => p.CarrierId === id
      )
    },
    async getFlightData () {
      const response = await fetch('/api/flight.json', {
        method: 'GET',
        headers: {
          'x-rapidapi-key': 'bc7e53936amsh074c5dc4126bdefp14dda9jsn2da3060813cb',
          'x-rapidapi-host': 'skyscanner-skyscanner-flight-search-v1.p.rapidapi.com'
        }
      })
      this.flightData = await response.json()
    },
    generate () {
      const cy = cytoscape({
        container: this.$refs.cy,
        boxSelectionEnabled: false,
        autounselectify: true,
        layout: {
          name: 'breadthfirst',
          directed: true,
          roots: '#' + this.startPlace.PlaceId,
          padding: 10
        },
        style: cytoscape.stylesheet()
          .selector('node')
          .style({
            content: 'data(name)',
            style: {
              height: 20,
              width: 20,
              'background-color': '#18e018'
            }
          })
          .selector('edge')
          .style({
            content: 'data(weight)',
            'curve-style': 'bezier',
            'box-shadow': '3px 3px red, -1em 0 0.4em olive',
            width: 4,
            'haystack-radius': 0,
            'line-color': '#a2efa2',
            'target-arrow-color': '#ddd',
            'target-arrow-shape': 'triangle'
          })
          .selector('.highlighted')
          .style({
            'background-color': '#61bffc',
            'line-color': '#61bffc',
            'transition-property': 'background-color, line-color',
            'transition-duration': '0.5s'
          }).selector('.marked')
          .style({
            'background-color': '#61fcc6',
            'line-color': '#61fcb9',
            'transition-property': 'background-color, line-color, target-arrow-color',
            'transition-duration': '0.5s'
          }),

        elements: {
          nodes: [...this.generateNodes],
          edges: [...this.generateEdges]
        }
      })
      this.floydWarshall = cy.elements().floydWarshall({
        directed: true,
        weight (edge) {
          return edge.data('weight')
        }
      })
      this.floydWarshall.path('#' + this.startPlace.PlaceId, '#' + this.endPlace.PlaceId).addClass('highlighted')
    }
  }

}
</script>

<style scoped>
#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
</style>
